.burger {
  display: none;
}

@media (max-width: 886px) {
  .burger {
    position: relative;
    display: block;
    width: 20px;
    height: 18px;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 1001;

    &__span {
      position: absolute;
      left: 50%;
      width: 20px;
      height: 2px;
      background: $orange;
      border-radius: 21px;
      transform: translateX(-50%);
      transition: background .1s ease-in-out, transform .2s ease-in-out, top .2s ease-in-out, left .2s ease-in-out;

      &:nth-child(1) {
        top: 15px;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:nth-child(3) {
        bottom: 15px;
      }
    }

    &_active {
      opacity: 1;

      & .burger__span:nth-child(2) {
        opacity: 0;
      }

      & .burger__span:first-child {
        left: 0;
        top: 50%;
        background: $lighter-grey;
        transform: rotate(45deg);
        transform-origin: center;
        transition: background .4s ease-in-out, transform .2s ease-in-out, top .2s ease-in-out, left .2s ease-in-out;
      }

      & .burger__span:last-child {
        left: 0;
        bottom: auto;
        top: 50%;
        background: $lighter-grey;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: background .4s ease-in-out, transform .2s ease-in-out, top .2s ease-in-out, left .2s ease-in-out;
      }
    }
  }
}
