$bg-color: #F9F8FD;
$main-font-color: #22253B;
$white: #FFFFFF;
$aqua: #38BFF2;
$dark-aqua: #1d6a86;
$orange: #F15525;
$dark-orange: #b1411f;
$dark-grey: #9F9F9F;
$grey: #DEDEDE;
$light-grey: #8E8E8E;
$light-blue: #EAF2F5;

$main-font: "Gilroy", sans-serif;
