.footer {
  &-top {
    position: relative;
    display: flex;
    padding-bottom: 52px;

    &-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: auto;

      &__logo {
        &-wrap {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 37px;
        }

        &-link {
          width: 96px;
          height: 38px;
        }

        &-icon {
          width: inherit;
          height: inherit;
        }

        &-text {
          line-height: 1.18em;
          color: $light-grey;
        }
      }

      &__social {
        &-list {
          @include list-reset;
          display: flex;
          gap: 16px;
        }

        &-item {
          width: 35px;
          height: 35px;
        }

        &-link {
          width: inherit;
          height: inherit;
          outline: none;
        }

        &-icon {
          width: inherit;
          height: inherit;
          fill: $main-font-color;
          transition: fill .2s ease-in-out;
        }
      }

      &__social-link:focus-visible &__social-icon {
        outline: none;
        fill: $orange;
      }

      &__social-link:hover &__social-icon {
        fill: $orange;
      }

      &__social-link:active &__social-icon {
        fill: $dark-orange;
      }
    }

    &-mid {
      &__nav {
        margin-right: 166px;

        &-list {
          @include list-reset;
          display: flex;
          flex-direction: column;
          gap: 25px;
        }

        &-link {
          font-size: 13px;
          line-height: 1.04em;
          color: $main-font-color;
          outline: none;
          transition: color .2s ease-in-out;

          &:focus-visible {
            color: $orange;
          }

          &:hover {
            color: $orange;
          }

          &:active {
            color: $dark-orange;
          }
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      gap: 3px;

      &__link {
        line-height: 1.43em;
        color: $main-font-color;
        outline: none;
        transition: color .2s ease-in-out;

        &:focus-visible {
          color: $orange;
        }

        &:hover {
          color: $orange;
        }

        &:active {
          color: $dark-orange;
        }

        &_phone {
          color: $aqua;
        }
      }
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      height: 1px;
      background: $grey;
    }
  }

  &-bottom {
    display: flex;
    padding: 28px 0 26px;
    line-height: 1.43em;
    color: $light-grey;

    &__copyright {
      margin-right: auto;
    }

    &__link {
      outline: none;
      transition: color .2s ease-in-out;

      &:focus-visible {
        color: $orange;
      }

      &:hover {
        color: $orange;
      }

      &:active {
        color: $dark-orange;
      }

      &:not(:last-child) {
        margin-right: 64px;
      }
    }
  }
}

@media (max-width: 886px) {
  .footer {
    &-bottom {
      flex-direction: column;

      &__copyright {
        margin: 0 auto 13px;
      }

      &__link {
        margin: 0 auto;
        color: $orange;

        &:not(:last-child) {
          margin: 0 auto 6px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &-top {
      flex-direction: column;
      align-items: center;
      padding-bottom: 32px;

      &-left {
        align-items: center;
        margin: 0 auto 43px;

        &__logo {
          &-wrap {
            margin-bottom: 23px;
          }
        }
      }

      &-mid {
        &__nav {
          margin: 0 auto 43px;

          &-list {
            align-items: center;
          }
        }
      }

      &-right {
        align-items: center;
      }
    }

    &-bottom {
      padding: 25px 0 27px;
    }
  }
}
